<div class="sidebar">
  <h3>Table of Contents</h3>
  <ul>
    <li><a href="#how-do-i-win-a-pickleball-point">How do I win a Pickleball Point?</a></li>
    <li><a href="#introduction">Introduction</a></li>
    <li><a href="#point-analysis">Point Analysis</a></li>
    <li><a href="#data-cleaning-and-exploratory-data-analysis">Data Cleaning and Exploratory Data Analysis</a></li>
    <li><a href="#data-cleaning">Data Cleaning</a></li>
    <li><a href="#univariate-analysis">Univariate Analysis</a></li>
    <li><a href="#bivariate-analysis">Bivariate Analysis</a></li>
    <li><a href="#interesting-aggregates">Interesting Aggregates</a></li>
    <li><a href="#final-dataframe">Final DataFrame</a></li>
    <li><a href="#imputation">Imputation</a></li>
    <li><a href="#framing-a-prediction-problem">Framing a Prediction Problem</a></li>
    <li><a href="#baseline-model">Baseline Model</a></li>
    <li><a href="#final-model">Final Model</a></li>
    <li><a href="#random-forest-classifier">Random Forest Classifier</a></li>
    <li><a href="#features-addded">Features Added</a></li>
    <li><a href="#feature-engineering">Feature Engineering</a></li>
    <li><a href="#modeling-algorithm">Modeling Algorithm</a></li>
    <li><a href="#performance-evaluation">Performance Evaluation</a></li>
    <li><a href="#comparison-with-baseline">Comparison with Baseline</a></li>
    <li><a href="#feature-analysis">Feature Analysis</a></li>
    <li><a href="#interesting-insights">Interesting Insights</a></li>
    <li><a href="#conclusion">Conclusion</a></li>
  </ul>
</div>
